<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>{{ statusMap[status] }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let request of requests">
        <ng-container *ngFor="let el of request | keyvalue">
          <ion-item *ngIf="el.key != 'lat' && el.key != 'lng'" class="activated">
            <ion-icon name="contacts" slot="start"></ion-icon>
            <ion-label>{{ el.key | titlecase}}</ion-label>
            <ion-text>
              <p>{{ el.value }}</p>
            </ion-text>
          </ion-item>
        </ng-container>
      </ion-card>
</ion-content>
