<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>


  <form #requestForm="ngForm" (ngSubmit)="saveRequest(requestForm)" novalidate>
    <ion-item>
      <ion-input type="text" required placeholder="From Address" name="fromAddress" ngModel>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" required placeholder="To Address" name="toAddress" ngModel>
      </ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" required placeholder="Phone" name="phone" ngModel>
        </ion-input>
      </ion-item>
    <ion-item>
      <ion-input type="text" required placeholder="Zip"  name="zip" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" required placeholder="City" name="city" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" required placeholder="Payable rate" name="rate" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea type="text" required placeholder="Description" name="description" ngModel>
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Negotiable?</ion-label>
      <ion-checkbox color="primary" name="negotiable" ngModel></ion-checkbox>
    </ion-item>

    <div padding>
        <ion-grid>
          <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <ion-button type="submit" color="success">Submit</ion-button>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  </form>
  

</ion-content>