<ion-menu side="start" menuId="sideMenu">
  <ion-header>
    <ion-toolbar color="Dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let p of sidePages; let i = index">

      <ion-item (click)="navigateTo(p.title)" class="activated">
        <ion-icon name="{{p.icon}}" slot="start"></ion-icon>
        <ion-text>
          <p>{{ p.title }}</p>
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<ion-content>
  <div #map id="map" class="map-view"></div>

  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="light">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="dark" (click)="openRequestForm()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="toggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>