<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>

        <ion-icon (click)="goBack()" name="arrow-back" slot="start"></ion-icon>
        <ion-title>
          Menu
        </ion-title>

      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngFor="let p of menuPages"
        auto-hide="false">
          <ion-item [routerLink]="p.url" routeDirection="root" [class.active-item]="selectedPath === p.url">
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout()">
            <ion-label>
              LogOut
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
