<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <div class="ion-text-center">
        <h2>GET IT DONE!</h2>
      </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"
      (signInFailure)="errorCallback($event)">
    </firebase-ui>
  </ion-grid>
  <h1 *ngIf="afAuth.auth.currentUser">
    Welcome {{afAuth.auth.currentUser.displayName}}
  </h1>
  <button *ngIf="afAuth.auth.currentUser" (click)="logout()">Logout</button>
</ion-content>