<ion-header>
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Account</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<div>
		<ion-avatar class="center">
			<label class="hoverable" for="fileInput">
  				<img [src]="url ? url : 'assets/icon/defaultAvatar.png'"> 
  				<div class="hover-text">Choose file</div>
  				<div class="background"></div>
			</label>
			<input id="profilePic" type='file' (change)="uploadProfilePic($event)">
		</ion-avatar>
	</div>
	<div class="user-details">
		<ion-item class="activated">
			<ion-label class="request-font">First name</ion-label>
			<ion-text>
				<p>{{ user.firstName }}</p>
			</ion-text>
		</ion-item>
		<ion-item class="activated">
			<ion-label class="request-font">Last name</ion-label>
			<ion-text>
				<p>{{ user.lastName }}</p>
			</ion-text>
		</ion-item>
		<ion-item class="activated">
			<ion-label class="request-font">Address</ion-label>
			<ion-text>
				<p>{{ user.address }}</p>
			</ion-text>
		</ion-item>
		<ion-item class="activated">
			<ion-label class="request-font">Phone</ion-label>
			<ion-text>
				<p>{{ user.phone }}</p>
			</ion-text>
		</ion-item>
		<ion-item class="activated">
			<ion-label class="request-font">Zip</ion-label>
			<ion-text>
				<p>{{ user.zip }}</p>
			</ion-text>
		</ion-item>
	</div>
</ion-content>