<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- <b>ADDRESS:		</b> {{user.address}}<br>
	<b>EMAIL:		</b>{{user.email}}<br>
	<b>FIRST NAME:	</b>{{user.firstName}}<br>
	<b>LAST NAME:	</b>{{user.lastName}}<br>
	<b>LATEST LAT:	</b>{{user.latestLat}}<br>
	<b>LATEST LONG	</b>{{user.latestLng}}<br>
	<b>PHONE:		</b>{{user.phone}}<br>
	<b>ZIP:			</b>{{user.zip}}<br> -->

</ion-content>
