<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="openrequests">
        <ion-icon name="folder-open"></ion-icon>
      <ion-label>Open</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="inprogress">
        <ion-icon name="code"></ion-icon>
      <ion-label>In progress</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="closedrequests">
        <ion-icon name="close"></ion-icon>
      <ion-label>Closed</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>